<html>
    <head>
        <title> Contacts.app </title>
         <script src="https://unpkg.com/htmx.org@1.7.0"
          integrity="sha384-EzBXYPt0/T6gxNp0nuPtLkmRpmDBbjg6WmCUZRLXBBwYYmwAUxzlSGej0ARHX0Bo"
          crossorigin="anonymous">
         </script>
    </head>
<body>
<h1> Contacts.app </h1>
<h2> A demo contact application </h2>
</br>
<div id="main">
  <form role="search">
      <label for="search">Search Term</label>
      <input id="search" name="q" type="search" placeholder="Search contacts"/>
      <button hx-post="/contacts" hx-target="#main">
          Search
      </button>
  </form>
<table>
    <thead>
        <tr>
            <th>First</th>
            <th>Last</th>
            <th>Phone</th>
            <th>Email</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    {{#contacts}}
        <tr>
            <td>{{ firstname }}</td>
            <td>{{ lastname }}</td>
            <td>{{ phone }}</td>
            <td>{{ email }}</td>
            <td>
                <a href="/contacts/edit/{{ id }}">Edit</a>
                <a href="/contacts/view/{{ id }}">View</a>
            </td>
        </tr>
    {{/contacts}}
    </tbody>
</table>
</div>
<p>
    <a href="/contacts/new">Add Contact</a>
</p>
</body>
</html>
