<html>
    <head>
        <title>{{ firstname }} {{ lastname }}</title>
    </head>
<body>
<h1>{{ firstname }} {{ lastname }}</h1>
<div>
    <div>Phone: {{ phone }}</div>
    <div>Email: {{ email }}</div>
</div>
<p>
    <a href="/contacts/edit/{{ id }}">Edit</a>
    <a href="/contacts">Back</a>
</p>
</html>
